<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <head>
        <link rel="stylesheet" href="/static/styles.css"/>
        <meta charset="utf-8">
        <title>Example</title>
    </head>
    <body>
        <h1>Hello {{.Account.Username}}!</h1>
        <a href="/account-password">Change Password</a>
        <a href="/sign-out">Sign Out</a>
        <a href="/">Home</a>
        <a href="/products">Products</a>
    </body>
</html>