<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <head>
        <link rel="stylesheet" href="/static/styles.css"/>
        <meta charset="utf-8">
        <title>Example</title>
    </head>
    <body>

        {{if not .Live -}}
        <p class="beta">BETA</p>
        {{- end}}

        <h1>Change Password</h1>

        {{if ne .Error "" -}}
        <p class="error">{{.Error}}</p>
        {{- end}}

        <p style="text-align: center;">Choose and confirm a new password.</p>

        <form action="/account-password" method="post" id="account-password-form">
            <!-- TODO(v2) add CSRF token
            <input type="hidden" id="token" name="token" value="{ { .Token } }" />
            -->
            <table class="center">
                <tr>
                    <td class="leftcolumn">
                        <label for="password">Password</label>
                    </td>
                    <td class="rightcolumn">
                        <input type="password" id="password" name="password" autocomplete="new-password" />
                    </td>
                </tr>
                <tr>
                    <td class="leftcolumn">
                        <label for="confirmation">Confirm Password</label>
                    </td>
                    <td class="rightcolumn">
                        <input type="password" id="confirmation" name="confirmation" autocomplete="new-password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <input type="submit" value="Change Password" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>