<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles.css"/>
        <title>Example</title>
    </head>
    <body>

        {{if not .Live -}}
        <p class="beta">BETA</p>
        {{- end}}

        {{if .Account -}}
        <h1>Hello {{.Account.Username}}!</h1>
        <div style="text-align: center;">
            <a href="/account">Account</a>
            <a href="/sign-out">Sign Out</a>
        </div>
        {{- else -}}
        <h1>Hello World!</h1>
        <div style="text-align: center;">
            <a href="/sign-in">Sign In</a>
            <a href="/sign-up">Sign Up</a>
        </div>
        {{- end}}
        <div style="text-align: center;">
            <a href="/products">Products</a>
        </div>
    </body>
</html>